body{
    margin: 0;
    padding: 0;
}

.hauptcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.ueberschrift{
    width: 100%;
    height: 15%;
    border: 2px solid red;
}
.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 70%;
    margin-top: 20%;
}

.btn{

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e9c1c1;
    cursor: pointer;
    transition: border-color 0.25s;
}
btn:hover {
    border-color: #646cff;
}
btn:focus,
btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}